[Desktop Entry]
Name=kylin-music
Name[zh_CN]=麒麟音乐
Comment=A simple audio playback tool
Comment[zh_CN]=一款简单音频播放工具
GenericName=Kylin-music
GenericName[zh_CN]=麒麟音乐
Name[bo_CN]=གྱི་ལིང་རོལ་མོ།
GenericName[bo_CN]=གྱི་ལིང་རོལ་མོ།
Comment[bo_CN]=ནང་གསེས་དོན་ཚན་གཅིག་སྟབས་བདེ་འི་འགུལ་ཚད་བསྟན་པ་ཡོ་བྱད།
Exec=/usr/bin/kylin-music %u
Icon=/usr/share/pixmaps/kylin-music
MimeType=audio/x-mp3;audio/ogg;audio/x-wav;audio/x-ms-wma;audio/spx;audio/ape;audio/flac;
Type=Application
Categories=GNOME;Utility;
