Source: kylin-music
Section: utils
Priority: optional
Maintainer: fengyongfan <fengyongfan@kylinos.cn>
Build-Depends: debhelper,
            qtbase5-dev,
            qt5-qmake,
            qtchooser,
            qtscript5-dev,
            qttools5-dev-tools,
            qtbase5-dev-tools,
            qtmultimedia5-dev,
			taglib,
			libgsettings-qt-dev,
            libqt5x11extras5-dev,
            libkf5windowsystem-dev,
			pkgconf
Standards-Version: 4.4.1
Homepage: https://github.com/ubuntukylin/kylin-music
#Vcs-Browser: https://github.com/ubuntukylin/kylin-music
#Vcs-Git: https://github.com/ubuntukylin/kylin-music.git

Package: kylin-music
Architecture: any
Depends: libqt5sql5-sqlite,
         libburner-media3-1,
         gstreamer1.0-libav,
         gstreamer1.0-plugins-good,
         gstreamer1.0-pulseaudio,
         ${shlibs:Depends}, 
		 ${misc:Depends}
Description: kylin-music
 <insert long description, indented with spaces>
